#logs en andere IDE gerelateerde folders
*logs
*__pycache__
*.venv
*.vscode
configure.bat
#Archivetextminer voor informatie
*ArchiveTextMiner_sourcecode
#onnodige files in sourcefile
src/__pycache__
src/Poppler
src/Tesseract
src/ai_response_jsonstructure.json
src/notes.txt
src/testen_random_code.py
src/extract_text.py
src/test.ipynb
src/test.py
#testjes files
test.py
testje_functionaliteit_unstructured.py
notes.txt
testen_random_code.py
tika-app-3.3.2.jar